
@{
    ViewData["Title"] = "Index";
}

<!-- Page Intro Begins -->
<section class="page-intro">
    <div class="container-lg flex-col">
        <h1 class="page-title">Free Delivery In Baku</h1>
        <div>
            <a asp-controller="Home" asp-action="Index"
               title="Bake&amp;Roll - Online Sushi Order &amp; Free Sushi Delivery in Baku"><span>Bake&amp;Roll</span></a>
            <span title="Blog"><span>Free Delivery In Baku</span></span>
        </div>
    </div>
</section>
<!-- Page Intro Ends -->
<!-- Information Section Begins -->
<section class="information_section">
    <div class="container-lg">
        <div class="section-title">
            <p class="title_text">Delivery service&nbsp;</p>
        </div>
        <h3>Orders Received:</h3>
        <p>7 days a week, 24 hours.</p>
        <h3>Delivery time:</h3>
        <p>
            The approximate delivery time will be displayed on the display for your selected destination. You can
            ask the operator for more precise information.
        </p>
        <h3>Minimum order amount:</h3>
        <p>
            Minimum order amount has been determined for the distance to be dispatched. When you place an order,
            you will see the minimum amount assigned to your selected address based on the sights.
        </p>
        <h3>Delivery to non-Baku areas (possible):</h3>
        <p>You can ask for our minimum order quantity and delivery time.</p>
        <p>
            The selections you choose are made exclusively from new and high quality products after
            ordering.
        </p>
        <p>
            Delivery of pizzas and sushi takes place in special thermo-packaging due to storage conditions.
        </p>
        <h3>Your order will be shipped with:</h3>
        <p>For Sushi: bamboo sticks, vasabi, soy sauce (based on order amount and quantity)</p>
        <p>
            For pizzas and other dishes (depending on the order): wet napkin, dry napkin, disposable towel /
            spoon.
        </p>
        <h3>Payment for order:</h3>
        <p>You can pay the order in cash to the courier.</p>
        <h3>Attention:</h3>
        <p>
            When you receive your order, we kindly ask you to check what's inside the packaging. If there are any
            discrepancies and complaints, please contact our Operator.
        </p>
        <p>Complaints are not accepted after payment is received.</p>
        <h2>Bakıda Sushi Çatdırılma Ünvanları</h2>
        <p>
            Bakıda sushi çatdırılması xidmətimizin keçərli olduğu qəsəbələrin və metroların adları, təxmini
            çatdırılma müddəti və çatdırılma üçün minimum sifariş məbləği cədvəldə qeyd olunub.
        </p>
    </div>
</section>
<!-- Information Section Ends -->

<section class="adress_section">
    <div class="container-lg">
        <h4>Qəsəbələrə Sushi Çatdırılma</h4>
        <div class="table-responsive mb-40">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Çatdırılma Ünvanı<br></th>
                        <th>Çatdırılma Müddəti<br></th>
                        <th>Minimum Sifariş Məbləği<br></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2-ci mikrorayon &nbsp;q.<br></td>
                        <td>45-60 &nbsp;dəq<br></td>
                        <td>25.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>3-cü mikrorayon &nbsp;q.<br></td>
                        <td>45-60 &nbsp;dəq<br></td>
                        <td>25.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>4-cü mikrorayon &nbsp;q.<br></td>
                        <td>45-60 &nbsp;dəq<br></td>
                        <td>30.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>5-ci mikrorayon &nbsp;q.<br></td>
                        <td>45-60 &nbsp;dəq<br></td>
                        <td>25.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>6-cı mikrorayon &nbsp;q.<br></td>
                        <td>45-60 &nbsp;dəq<br></td>
                        <td>30.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>7-ci mikrorayon &nbsp;q.<br></td>
                        <td>60-75 &nbsp;dəq<br></td>
                        <td>30.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>8-ci mikrorayon &nbsp;q.<br></td>
                        <td>45-60 &nbsp;dəq<br></td>
                        <td>25.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>9-cu mikrorayon &nbsp;q.<br></td>
                        <td>45-60 &nbsp;dəq<br></td>
                        <td>30.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>20-ci sahə q.<br></td>
                        <td>45-60 &nbsp;dəq<br></td>
                        <td>30.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>Badamdar q.<br></td>
                        <td>30-45 dəq<br></td>
                        <td>30.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>Bakixanov q.<br></td>
                        <td>75-90 dəq<br></td>
                        <td>40.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>Bilgəh q.<br></td>
                        <td>90-120 &nbsp;dəq<br></td>
                        <td>60.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>Biləcəri q.<br></td>
                        <td>60-75 &nbsp;dəq<br></td>
                        <td>40.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>Buzovna q.<br></td>
                        <td>90-120 &nbsp;dəq<br></td>
                        <td>60.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>Günəşli q.<br></td>
                        <td>75-90 &nbsp;dəq<br></td>
                        <td>40.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>Həzi Aslanov q.<br></td>
                        <td>75-90 &nbsp;dəq<br></td>
                        <td>40.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>Hövsan q.<br></td>
                        <td>75-90 &nbsp;dəq<br></td>
                        <td>60.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>Kubinka q.<br></td>
                        <td>30-45 &nbsp;dəq<br></td>
                        <td>20.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>Köhnə Günəşli q.<br></td>
                        <td>75-90 &nbsp;dəq<br></td>
                        <td>40.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>Lökbatan q.<br></td>
                        <td>75-90 &nbsp;dəq<br></td>
                        <td>40.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>M.Ə.Rəsulzadə q.<br></td>
                        <td>60-75 &nbsp;dəq<br></td>
                        <td>40.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>Montin q.<br></td>
                        <td>60-75 &nbsp;dəq<br></td>
                        <td>30.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>Mərdəkan q.<br></td>
                        <td>75-90 &nbsp;dəq<br></td>
                        <td>60.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>NZS q.<br></td>
                        <td>45-60 &nbsp;dəq<br></td>
                        <td>30.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>Novxanı q.<br></td>
                        <td>75-90 &nbsp;dəq<br></td>
                        <td>60.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>Qara Şəhər q.<br></td>
                        <td>30-45 &nbsp;dəq<br></td>
                        <td>25.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>Sabunçu q.<br></td>
                        <td>75-90 &nbsp;dəq<br></td>
                        <td>40.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>Sahil q.<br></td>
                        <td>75-90 &nbsp;dəq<br></td>
                        <td>60.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>Səngəçal q.<br></td>
                        <td>75-90 &nbsp;dəq<br></td>
                        <td>60.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>Yeni Yasamal<br></td>
                        <td>45-60 &nbsp;dəq<br></td>
                        <td>25.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>Qaraçuxur<br></td>
                        <td>60-75 &nbsp;dəq<br></td>
                        <td>40.00 AZN<br></td>
                    </tr>
                    <tr>
                        <td>8-ci km<br></td>
                        <td>60-75 &nbsp;dəq<br></td>
                        <td>30.00 AZN<br></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>>

@section Script{
    <partial name="_ValidationScript" />
    <partial name="_Script" />
}